openapi: '3.0.2'
info:
  title: Tourease API
  version: '1.0'
servers:
  - url: https://api.tourease.my.id/v1
    description: Production Server
  - url: http://localhost:1323/v1
    description: Development Server
tags:
  - name: Mobile - Auth
  - name: Mobile - Homepage
  - name: Mobile - Destinations
  - name: Mobile - Profile
  - name: Mobile - Personalization
  - name: Admin - Auth
  - name: Admin - Destinations
  - name: Admin - Routes
  - name: Admin - Users
  - name: Admin - Admins
  - name: Admin - Manage Content
paths:
  /mobile/home:
    get:
      tags:
        - Mobile - Homepage
      summary: Mendapatkan Data pada Homepage
      description: API untuk mendapatkan data pada homepage.
      security:
        - BearerAuth: []
      parameters:
        - name: provinsi
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/HomepageResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Personalisasi belum dibuat
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                error destinasi sekitar:
                  value:
                    status: Failed
                    message: Gagal mendapatkan destinasi sekitar
                error destinasi populer:
                  value:
                    status: Failed
                    message: Gagal mendapatkan destinasi populer
                error personalisasi:
                  value:
                    status: Failed
                    message: Gagal mendapatkan data personalisasi
                error mendapatkan rekomendasi:
                  value:
                    status: Failed
                    message: Gagal mendapatkan rekomendasi destinasi
                error simpan rekomendasi:
                  value:
                    status: Failed
                    message: Gagal menyimpan rekomendasi destinasi

  /mobile/auth/register:
    post:
      tags:
        - Mobile - Auth
      summary: Registrasi Pengguna
      description: API untuk registrasi pengguna baru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'johndoe'
                nama_lengkap:
                  type: string
                  example: 'John Doe'
                email:
                  type: string
                  example: 'johndoe@example.com'
                no_telepon:
                  type: string
                  example: '081234567891'
                password:
                  type: string
                  example: 'password123'
      responses:
        '201':
          description: Registrasi Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Registrasi berhasil!'
                  data:
                    type: object
                    properties:
                      reference_id:
                        type: string
                        example: 'fAwCnf3TSOkSqB9M'
        '409':
          description: Konflik
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'username sudah ada, silahkan gunakan username lain'
  /mobile/auth/resend-otp:
    post:
      tags:
        - Mobile - Auth
      summary: Kirim Ulang OTP
      description: API untuk mengirim ulang OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
      responses:
        '200':
          description: OTP Berhasil Dikirimkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'OTP berhasil dikirimkan'
                  data:
                    type: object
                    properties:
                      reference_id:
                        type: string
                        example: 'WCTp17O4Uu2CZ88O'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Error'
                  message:
                    type: string
                    example: 'Invalid email address'

  /mobile/auth/verify:
    post:
      tags:
        - Mobile - Auth
      summary: Verifikasi OTP
      description: API untuk verifikasi OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref_id:
                  type: string
                  example: 'WCTp17O4Uu2CZ88O'
                otp:
                  type: string
                  example: '7523'
      responses:
        '200':
          description: OTP Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'OTP Valid'
        '400':
          description: OTP Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Kode OTP tidak cocok. Mohon periksa kembali dan masukkan dengan benar.'
  /mobile/auth/forgot-password:
    put:
      tags:
        - Mobile - Auth
      summary: Reset Password
      description: API untuk mengatur ulang kata sandi pengguna.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref_id:
                  type: string
                  example: 'gCGBw4IB8boTMG5B'
                password:
                  type: string
                  example: 'password'
                konfirmasi_password:
                  type: string
                  example: 'password'
      responses:
        '200':
          description: Password Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Password berhasil diubah'
        '400':
          description: Password Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password tidak cocok'
  /mobile/auth/login:
    post:
      tags:
        - Mobile - Auth
      summary: Login Pengguna
      description: API untuk login pengguna.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: 'johndoe@example.com'
                password:
                  type: string
                  example: 'password123'
      responses:
        '200':
          description: Login Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Login berhasil!'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLW'
                      refresh_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLW'
        '409':
          description: Akun Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Akun tidak ditemukan'
        '401':
          description: Email Belum Terverifikasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Email belum terverifikasi'
  /admin/auth/login:
    post:
      tags:
        - Admin - Auth
      summary: Admin Login
      description: API untuk login admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'tourease'
                password:
                  type: string
                  example: '12345678'
      responses:
        '200':
          description: Login Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'You have successfully logged in'
                  data:
                    type: object
                    properties:
                      username:
                        type: string
                        example: 'admintourease'
                      profile_image:
                        type: string
                        example: 'admin.jpg'
                      role:
                        type: string
                        example: 'admin'
                      token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6ImFhNjJjZDA5LTU0YjUtNGViNC04MjNmLWMzNjI4ZWFlYmQ0MSIsIlVzZXJuYW1lIjoiYWRtaW50b3VyZWFzZSIsIlJvbGUiOiJhZG1pbiIsImV4cCI6MTcxNjkxMTIzMCwiaWF0IjoxNzE2OTA5NDMwLCJuYmYiOjE3MTY5MDk0MzB9.Iesz7CdqiA-5xyJa3I3w2rkZTjC7ZR27FMPz3HwhYOs'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Akun tidak ditemukan'
  /admin/auth/logout:
    delete:
      tags:
        - Admin - Auth
      summary: Logout Admin
      description: API untuk logout admin.
      responses:
        '200':
          description: Logout Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Logout berhasil!'

  /admin/auth/token:
    get:
      tags:
        - Admin - Auth
      summary: Mendapatkan Token Baru
      description: API untuk mendapatkan token baru.
      responses:
        '200':
          description: Berhasil Mendapatkan Token Baru
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil mendapatkan token baru'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzIyNjI2NCwiaWF0IjoxNzE3MjI1MDY0LCJuYmYiOjE3MTcyMjUwNjR9.Av2DF2H2HBcZsH2pXDEpmb9W1UKvkSDFq0T7-Y0OJ2k'
        '409':
          description: Token Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak ditemukan'
  /mobile/auth/logout:
    delete:
      tags:
        - Mobile - Auth
      summary: Logout Pengguna
      description: API untuk logout pengguna dengan membatalkan (invalidate) refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Refresh token yang ingin dibatalkan
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzQ4NDkwOCwiaWF0IjoxNzE3Mzk4NTA4LCJuYmYiOjE3MTczOTg1MDh9.nEpwC8eBk4qWOjD3MucKfOh_PJL7xLPbnY8IXjpbJzM'
      responses:
        '200':
          description: Logout Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Logout berhasil!'
        '401':
          description: Token Tidak Valid atau Kedaluwarsa
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak valid'

  /mobile/auth/token:
    post:
      tags:
        - Mobile - Auth
      summary: Mendapatkan Token Baru (Refresh Token)
      description: API untuk mendapatkan token akses baru dengan menggunakan refresh token yang valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Refresh token yang valid
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzM5MTI5MiwiaWF0IjoxNzE3MzA0ODkyLCJuYmYiOjE3MTczMDQ4OTJ9.062A35GzPol_3Xa5KkXo0ApQcCpHXvuazF0kouqA0Cg'
      responses:
        '200':
          description: Berhasil Mendapatkan Token Baru
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil mendapatkan token baru'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzIyNjI2NCwiaWF0IjoxNzE3MjI1MDY0LCJuYmYiOjE3MTcyMjUwNjR9.Av2DF2H2HBcZsH2pXDEpmb9W1UKvkSDFq0T7-Y0OJ2k'
        '401':
          description: Token Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak valid'
  /mobile/profile:
    get:
      tags:
        - Mobile - Profile
      summary: Mendapatkan Profil Pengguna
      description: API untuk mengambil data profil pengguna yang sedang login.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profil Berhasil Didapatkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Data profil berhasil didapatkan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID unik pengguna
                        example: '4a4e9723-ae4c-4d72-b361-c36d5980e287'
                      username:
                        type: string
                        description: Nama pengguna (username)
                        example: 'tes1'
                      nama_lengkap:
                        type: string
                        description: Nama lengkap pengguna
                        example: 'tes tes'
                      bio:
                        type: string
                        description: Bio singkat pengguna (opsional)
                        example: 'life'
                      email:
                        type: string
                        description: Alamat email pengguna
                        example: 'leafthe78@gmail.com'
                      no_telepon:
                        type: string
                        description: Nomor telepon pengguna
                        example: '081234567899'
                      foto_profil:
                        type: string
                        description: URL foto profil pengguna (opsional)
                        example: 'https://res.cloudinary.com/alta-minpro/image/upload/v1717582618/tourease/users/tusamyaghmynwe44rk2t.jpg'
                      jenis_kelamin:
                        type: string
                        description: Jenis kelamin pengguna (Pria/Wanita)
                        example: 'Pria'
                      kota:
                        type: string
                        description: Kota tempat tinggal pengguna
                        example: 'Medan'
                      provinsi:
                        type: string
                        description: Provinsi tempat tinggal pengguna
                        example: 'Sumatera Utara'
    put:
      tags:
        - Mobile - Profile
      summary: Memperbarui Profil Pengguna
      description: API untuk memperbarui data profil pengguna yang sedang login.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Nama pengguna (username)
                  example: 'tes1'
                nama_lengkap:
                  type: string
                  description: Nama lengkap pengguna
                  example: 'tes tes'
                bio:
                  type: string
                  description: Bio singkat pengguna (opsional)
                  example: 'life'
                email:
                  type: string
                  description: Alamat email pengguna
                  example: 'leafthe78@gmail.com'
                no_telepon:
                  type: string
                  description: Nomor telepon pengguna
                  example: '081234567899'
                jenis_kelamin:
                  type: string
                  description: Jenis kelamin pengguna (Pria/Wanita)
                  example: 'Pria'
                kota:
                  type: string
                  description: Kota tempat tinggal pengguna
                  example: 'Medan'
                provinsi:
                  type: string
                  description: Provinsi tempat tinggal pengguna
                  example: 'Sumatera Utara'
                foto_profil:
                  type: string
                  format: binary
                  description: File gambar foto profil (opsional)
      responses:
        '200':
          description: Profil Berhasil Diperbarui
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Data profil berhasil diperbarui'
        '400':
          description: Permintaan Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'failed'
                  message:
                    type: string
                    example: 'Permintaan tidak valid. Silakan periksa kembali data yang Anda masukkan.'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          example: 'NoTelepon'
                        message:
                          type: string
                          example: 'Kolom NoTelepon harus lebih dari 11 karakter'
        '409':
          description: Konflik Data (Email Sudah Digunakan)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Email sudah digunakan'
  /mobile/profile/change-password:
    put:
      tags:
        - Mobile - Profile
      summary: Mengubah Password Pengguna
      description: API untuk mengubah password pengguna yang sedang login.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password_lama:
                  type: string
                  description: Password lama pengguna
                  example: 'user12345'
                password_baru:
                  type: string
                  description: Password baru yang diinginkan
                  example: '12345678'
                konfirmasi_password:
                  type: string
                  description: Konfirmasi password baru
                  example: '12345678'
      responses:
        '200':
          description: Password Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Password berhasil diperbarui'
        '400':
          description: Password dan Konfirmasi Password Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password dan konfirmasi password tidak cocok'
        '409':
          description: Password Lama Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password lama tidak valid'
  /admin/users:
    get:
      tags:
        - Admin - Users
      summary: Mendapatkan Data User
      description: API untuk mendapatkan daftar pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Data User Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditemukan'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '803f6cc0-e598-4b59-a300-8b8603482d14'
                        username:
                          type: string
                          example: 'username'
                        email:
                          type: string
                          example: 'email@example.com'
                        no_telepon:
                          type: string
                          example: '081234567890'
                        jenis_kelamin:
                          type: string
                          example: 'pria'
                        kota:
                          type: string
                          example: 'Jaksel'
                        provinsi:
                          type: string
                          example: 'Jakarta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Admin - Users
      summary: Menambah data user
      description: API untuk menambah pengguna baru.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'username'
                password:
                  type: string
                  example: '12345678'
                nama_lengkap:
                  type: string
                  example: 'nama_lengkap'
                bio:
                  type: string
                  example: 'bio'
                email:
                  type: string
                  example: 'email3@example.com'
                no_telepon:
                  type: string
                  example: '081234567890'
                foto_profil:
                  type: string
                  format: binary
                  example: 'img.jpg'
                jenis_kelamin:
                  type: string
                  example: 'pria'
                kota:
                  type: string
                  example: 'Jaksel'
                provinsi:
                  type: string
                  example: 'Jakarta'
      responses:
        '201':
          description: Data User Berhasil Ditambah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditambah'
        '409':
          description: Conflict
          content:
            application/js  on:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'gagal untuk menambah data user'
  /admin/users/{id}:
    get:
      tags:
        - Admin - Users
      summary: Mendapatkan Detail User
      description: API untuk mendapatkan detail pengguna.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data User Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditemukan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '803f6cc0-e598-4b59-a300-8b8603482d14'
                      username:
                        type: string
                        example: 'username'
                      nama_lengkap:
                        type: string
                        example: 'username lengkap'
                      bio:
                        type: string
                        example: 'bio'
                      email:
                        type: string
                        example: 'email@example.com'
                      no_telepon:
                        type: string
                        example: '081234567890'
                      foto_profil:
                        type: string
                        example: 'img.jpg'
                      jenis_kelamin:
                        type: string
                        example: 'pria'
                      kota:
                        type: string
                        example: 'Jaksel'
                      provinsi:
                        type: string
                        example: 'Jakarta'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal untuk memperbarui data user'
    put:
      tags:
        - Admin - Users
      summary: Memperbarui Data User
      description: API untuk memperbarui data pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'username'
                password:
                  type: string
                  example: '12345678'
                nama_lengkap:
                  type: string
                  example: 'nama_lengkap'
                bio:
                  type: string
                  example: 'bio'
                email:
                  type: string
                  example: 'email3@example.com'
                no_telepon:
                  type: string
                  example: '081234567890'
                foto_profil:
                  type: string
                  format: binary
                  example: 'img.jpg'
                jenis_kelamin:
                  type: string
                  example: 'pria'
                kota:
                  type: string
                  example: 'Jaksel'
                provinsi:
                  type: string
                  example: 'Jakarta'
      responses:
        '200':
          description: Data User Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil diubah'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal untuk memperbarui data user'
    delete:
      tags:
        - Admin - Users
      summary: Menghapus Data User
      description: API untuk menghapus pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Data User Berhasil Dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil dihapus'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'User tidak ditemukan'

  /admin/admins:
    get:
      tags:
        - Admin - Admins
      summary: Mendapatkan data semua admin
      description: API untuk mencari daftar admin.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil mendapatkan data admin
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        tanggal_pembuatan:
                          type: string
                          format: date
                    example:
                      - id: 803f6cc0-e598-4b59-a300-8b8603482d14
                        username: username
                        tanggal_pembuatan: 02-01-2006
                      - id: 803f6cc0-e598-4b59-a300-8b8603482d14
                        username: username
                        tanggal_pembuatan: 02-01-2006
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal mendapatkan data admin
    post:
      tags:
        - Admin - Admins
      summary: Menambah data admin
      description: API untuk menambah admin baru.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: username
                password:
                  type: string
                  example: '12345678'
                foto:
                  type: string
                  format: binary
            encoding:
              foto:
                contentType: image/png, image/jpg, image/jpeg
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil menambah data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: username
                        message: Username harus di isi
                file tidak sesuai:
                  value:
                    status: Failed
                    message: File harus berupa gambar dan kurang dari 2 MB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Username sudah digunakan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal menambah data admin

  /admin/admins/{id}:
    get:
      tags:
        - Admin - Admins
      summary: Mendapatkan detail admin
      description: API untuk mendapatkan detail admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasil mendapatkan detail admin
                  data:
                    type: object
                    properties:
                      username:
                        type: string
                        example: 'username'
                      foto_profil:
                        type: string
                        example: 'https://fotoprofil.png'
                      tanggal_pembuatan:
                        type: string
                        format: date
                        example: 02-01-2006
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                id tidak valid:
                  value:
                    status: Failed
                    message: Id admin tidak valid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Data admin tidak ditemukan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal mendapatkan detail admin
    put:
      tags:
        - Admin - Admins
      summary: Mengubah data admin
      description: API untuk mengubah data admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: username
                password:
                  type: string
                  example: '12345678'
                foto:
                  type: string
                  format: binary
            encoding:
              foto:
                contentType: image/png, image/jpg, image/jpeg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil mengubah data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: username
                        message: Username harus di isi
                file tidak sesuai:
                  value:
                    status: Failed
                    message: File harus berupa gambar dan kurang dari 2 MB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Username sudah digunakan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal mengubah data admin
    delete:
      tags:
        - Admin - Admins
      summary: Menghapus data admin
      description: API untuk menghapus data admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil menghapus data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                id tidak valid:
                  value:
                    status: Failed
                    message: Id admin tidak valid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Data admin tidak ditemukan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal menghapus data admin

  /mobile/destinations:
    get:
      tags:
        - Mobile - Destinations
      summary: Mencari destinasi wisata
      description: API untuk mencari daftar destinasi wisata.
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
            description: urutkan berdasarkan
            enum:
              - populer
              - terlama
              - terbaru
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: filter berdasarkan kategori (masukkan id category)
      security:
        - BearerAuth: []
      responses:
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'gagal untuk mendapatkan destinasi'
        '200':
          description: Berhasil menampilkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '306d305e-3359-4884-8d38-89c04e8adea6'
                        nama:
                          type: string
                          example: 'Kawah Ijen'
                        url_media:
                          type: string
                          nullable: true
                          example: 'https://picsum.photos/300/200'
                        provinsi:
                          type: string
                          example: 'Papua Barat'
                        kota:
                          type: string
                          example: 'Jakarta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  sort:
                    type: string
                    example: 'populer'
                  filter:
                    type: string
                    example: 'Alam'
  /mobile/destinations/{id}:
    get:
      summary: Mendapatkan destinasi berdasarkan ID
      tags:
        - Mobile - Destinations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID dari destinasi
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Berhasil mendapatkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan destinasi'
                  data:
                    $ref: '#/components/schemas/DestinationResponse'
        '404':
          description: Destinasi tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Destinasi tidak ditemukan'
  /mobile/destinations/cities:
    get:
      tags:
        - Mobile - Destinations
      summary: Menampilkan kota yang memiliki destinasi
      description: API untuk mendapatkan daftar kota yang memiliki destinasi wisata.
      security:
        - BearerAuth: []
      responses:
        200:
          description: Berhasil menampilkan kota
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan kota yang memiliki destinasi'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3212'
                        nama:
                          type: string
                          example: 'KAB. INDRAMAYU'
  /mobile/destinations/cities/{id}:
    get:
      tags:
        - Mobile - Destinations
      summary: Menampilkan destinasi berdasarkan kota
      description: API untuk mendapatkan daftar destinasi wisata berdasarkan kota.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        200:
          description: Berhasil menampilkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan destinasi'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3636246c-3dd5-4140-9822-72ce76f11124'
                        nama_destinasi:
                          type: string
                          example: 'Danau Lau Kawar'
                        nama_jalan:
                          type: string
                          example: 'testing'
                        kecamatan:
                          type: string
                          example: 'Karangampel'
                        kota:
                          type: string
                          example: 'KAB. INDRAMAYU'
                        provinsi:
                          type: string
                          example: 'JAWA BARAT'
        404:
          description: Destinasi tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Destinasi tidak ditemukan'
  /mobile/personalization:
    post:
      tags:
        - Mobile - Personalization
      summary: Membuat personalisasi rekomendasi
      description: API untuk membuat personalisasi rekomendasi
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_kategori:
                  type: array
                  items:
                    type: string
                  example:
                    [
                      eb77b590-b255-4ea1-b11a-d445a259ac41,
                      'eb77b590-b255-4ea1-b11a-d445a259ac41',
                      'eb77b590-b255-4ea1-b11a-d445a259ac41',
                    ]
                id_provinsi:
                  type: array
                  items:
                    type: string
                  example: ['11', '12', '13']
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Personalisasi berhasil di buat
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request data tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: id_kategori
                        message: id_kategori harus diisi

        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Personalisasi sudah dibuat
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal untuk membuat personalisasi

  /mobile/personalization/categories:
    get:
      tags:
        - Mobile - Personalization
      summary: Mendapatkan kategori destinasi
      description: API untuk mendapatkan kategori destinasi
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/CategoriesResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Invalid input'

  /mobile/personalization/provinces:
    get:
      tags:
        - Mobile - Personalization
      summary: Mendapatkan provinsi
      description: API untuk mendapatkan rekomendasi provinsi
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ProvinceResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal untuk mendapatkan provinsi

  /admin/destinations:
    post:
      summary: Menambah data destinasi
      tags:
        - Admin - Destinations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                nama_destinasi:
                  type: string
                  description: Nama destinasi
                  example: 'Tes Destinasi'
                deskripsi:
                  type: string
                  description: Deskripsi dari destinasi
                  example: 'Lorem ipsum dolor sit amet'
                jam_buka:
                  type: string
                  description: Jam buka destinasi
                  example: '08:00'
                jam_tutup:
                  type: string
                  description: Jam tutup destinasi
                  example: '17:00'
                harga_masuk:
                  type: number
                  description: Harga tiket masuk
                  example: 20000
                id_kategori:
                  type: string
                  format: uuid
                  description: ID Kategori
                  example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                latitude:
                  type: number
                  description: Latitude dari destinasi
                  example: 115.1675
                longitude:
                  type: number
                  description: Longitude dari destinasi
                  example: -54.5245
                fasilitas:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array ID fasilitas
                  example:
                    ['515cb2da-3361-48b8-99fd-bd894828efa1', '515cb2da-3361-48b8-99fd-bd894828efa2']
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Array of image files
                judul:
                  type: array
                  items:
                    type: string
                  description: Array of image titles

                alamat_destinasi:
                  type: object
                  properties:
                    id_provinsi:
                      type: string
                      description: ID Provinsi
                      example: '35'
                    id_kota:
                      type: string
                      description: ID Kota
                      example: '3511'
                    id_kecamatan:
                      type: string
                      description: ID Kecamatan
                      example: '351105'
                    jalan:
                      type: string
                      description: Nama jalan
                      example: 'Jl. Raya Bandung'
                    kode_pos:
                      type: string
                      description: Kode pos
                      example: '113322'
      responses:
        '200':
          description: Destination created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Destination created successfully'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Invalid input'
    get:
      tags:
        - Admin - Destinations
      summary: Mendapatkan semua destinasi
      description: API untuk mendapatkan semua destinasi.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data destinasi berhasil ditemukan
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: string
                      example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                    nama_destinasi:
                      type: string
                      example: 'Tes Destinasi'
                    jam_buka:
                      type: string
                      example: '08:00'
                    jam_tutup:
                      type: string
                      example: '17:00'
                    harga_masuk:
                      type: number
                      example: 20000
                    kategori:
                      $ref: '#/components/schemas/Category'
                    alamat:
                      $ref: '#/components/schemas/DestinationAddress'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token

  /admin/destinations/{id}:
    delete:
      tags:
        - Admin - Destinations
      summary: Menghapus destinasi
      description: API untuk menghapus destinasi.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: ID destinasi
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Destinasi berhasil dihapus'
    get:
      tags:
        - Admin - Destinations
      summary: Mendapatkan detail destinasi
      description: API untuk mendapatkan data destinasi spesifik berdasarkan ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: ID destinasi
      responses:
        '200':
          description: Data destinasi berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_destinasi:
                    type: string
                    example: '306d305e-3359-4884-8d38-89c04e8adea6'
                  nama_destinasi:
                    type: string
                    example: 'Kawah Ijen'
                  jam_buka:
                    type: string
                    example: '08:00'
                  jam_tutup:
                    type: string
                    example: '17:00'
                  harga_masuk:
                    type: integer
                    example: 100000
                  deskripsi:
                    type: string
                    example: 'Kawah Ijen adalah sebuah kompleks gunung berapi di Banyuwangi, Jawa Timur, Indonesia.'
                  alamat_destinasi:
                    $ref: '#/components/schemas/DestinationAddress'
                  url_gambar:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlImage'
                  url_video:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlVideo'
                  kategori:
                    $ref: '#/components/schemas/Category'
                  fasilitas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facility'

  /admin/routes:
    get:
      tags:
        - Admin - Routes
      summary: Mendapatkan semua rute
      description: API untuk mendapatkan semua rute.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data rute berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data rute berhasil ditemukan'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 'b5112798-9f59-4da0-9132-2c717895102f'
                        username:
                          type: string
                          example: 'tes2'
                        kota:
                          type: string
                          example: 'KAB. ACEH SELATAN'
                        destinasi:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: '306d305e-3359-4884-8d38-89c04e8adec7'
                              nama_destinasi:
                                type: string
                                example: 'Pulau Komodo'
                        estimasi_biaya:
                          type: integer
                          example: 250000
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /admin/routes/{id}:
    get:
      tags:
        - Admin - Routes
      summary: Mendapatkan detail rute
      description: API untuk mendapatkan data rute spesifik berdasarkan ID.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Data rute berhasil didapatkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data rute berhasil didapatkan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 'b5112798-9f59-4da0-9132-2c717895102f'
                      username:
                        type: string
                        example: 'tes2'
                      kota:
                        type: string
                        example: 'KAB. ACEH SELATAN'
                      destinasi:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '306d305e-3359-4884-8d38-89c04e8adec7'
                            nama_destinasi:
                              type: string
                              example: 'Pulau Komodo'
                      estimasi_biaya:
                        type: integer
                        example: 250000
    delete:
      tags:
        - Admin - Routes
      summary: Menghapus data rute
      description: API untuk menghapus data rute berdasarkan ID.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Data rute berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data rute berhasil dihapus'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Rute tidak ditemukan'

  /admin/destination-media:
    get:
      tags:
        - Admin - Manage Content
      summary: Mendapatkan semua media destinasi
      description: API untuk mendapatkan semua media destinasi.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved destination medias
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: berhasil menampilkan media destinasi
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: 1bde58e3-ef19-4daa-9df7-084ba5d3e933
                        destination_id:
                          type: string
                          format: uuid
                          example: 306d305e-3359-4884-8d38-89c04e8adec2
                        url:
                          type: string
                          example: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.video
                        type:
                          type: string
                          example: video
                        title:
                          type: string
                          example: We Are Going On Bullrun 3
                        destination:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              example: 306d305e-3359-4884-8d38-89c04e8adec2
                            name:
                              type: string
                              example: Pantai Kuta
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 20
                      per_page:
                        type: integer
                        example: 5
                      current_page:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 4
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Invalid input
    post:
      tags:
        - Admin - Manage Content
      summary: Menambah media destinasi
      description: API untuk menambah media destinasi.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_id:
                  type: string
                  format: uuid
                  example: 306d305e-3359-4884-8d38-89c04e8adec2
                url:
                  type: string
                  example: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.video
                type:
                  type: string
                  example: video
                title:
                  type: string
                  example: We Are Going On Bullrun 3
              required:
                - destination_id
                - url
                - type
                - title
              example:
                destination_id: 306d305e-3359-4884-8d38-89c04e8adec2
                url: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.video
                type: video
                title: We Are Going On Bullrun 3
      responses:
        '200':
          description: Successfully created destination media
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasilah menambahkan media destinasi
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Internal server error

  /admin/destination-media/{id}:
    delete:
      tags:
        - Admin - Manage Content
      summary: Menghapus media destinasi
      description: API untuk menghapus media destinasi.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 1bde58e3-ef19-4daa-9df7-084ba5d3e941
      responses:
        '200':
          description: Successfully deleted destination media
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasilah menghapus media destinasi
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Internal server error
    get:
      tags:
        - Admin - Manage Content
      summary: Mengambil media destinasi
      description: API untuk mengambil media destinasi.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 1bde58e3-ef19-4daa-9df7-084ba5d3e941
      responses:
        '200':
          description: Successfully get destination media
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasilah mengambil media destinasi
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: 1bde58e3-ef19-4daa-9df7-084ba5d3e933
                      destination_id:
                        type: string
                        format: uuid
                        example: 306d305e-3359-4884-8d38-89c04e8adec2
                      url:
                        type: string
                        example: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.video
                      type:
                        type: string
                        example: video
                      title:
                        type: string
                        example: We Are Going On Bullrun 3
                      destination:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            example: 306d305e-3359-4884-8d38-89c04e8adec2
                          name:
                            type: string
                            example: Pantai Kuta
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Internal server error
    put:
      tags:
        - Admin - Manage Content
      summary: Mengubah media destinasi
      description: API untuk mengubah media destinasi.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 1bde58e3-ef19-4daa-9df7-084ba5d3e941
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_id:
                  type: string
                  format: uuid
                  example: 306d305e-3359-4884-8d38-89c04e8adec2
                url:
                  type: string
                  example: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.video
                type:
                  type: string
                  example: video
                title:
                  type: string
                  example: We Are Going On Bullrun 3
      responses:
        '200':
          description: Successfully updated destination media
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasilah mengubah media destinasi
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Internal server error

components:
  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 10
        per_page:
          type: integer
          example: 10
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 1

    DestinationAddress:
      type: object
      properties:
        provinsi:
          type: string
          example: 'Sumatera Utara'
        kota:
          type: string
          example: 'Jakarta'
        kabupaten:
          type: string
          example: 'Jakarta Pusat'
        nama_jalan:
          type: string
          example: 'Jalan MH Thamrin'
        kode_pos:
          type: string
          example: '10110'

    UrlImage:
      type: object
      properties:
        id_media:
          type: string
          example: '1bde58e3-ef19-4daa-9df7-084ba5d3e941'
        url_media:
          type: string
          example: 'https://picsum.photos/300/200'
        tipe:
          type: string
          example: 'image'

    UrlVideo:
      type: object
      properties:
        id_media:
          type: string
          example: '1bde58e3-ef19-4daa-9df7-084ba5d3e931'
        url_media:
          type: string
          example: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.video'
        tipe:
          type: string
          example: 'video'
        judul:
          type: string
          example: 'Tears of Steel 1'

    Category:
      type: object
      properties:
        id_kategori:
          type: string
          example: 'eb77b590-b255-4ea1-b11a-d445a259ac41'
        nama:
          type: string
          example: 'Alam'

    Facility:
      type: object
      properties:
        id_fasilitas:
          type: string
          example: '515cb2da-3361-48b8-99fd-bd894828efd3'
        nama:
          type: string
          example: 'Area Parkir'
        url_logo:
          type: string
          example: 'https://picsum.photos/300/200'

    SimilarDestination:
      type: object
      properties:
        id:
          type: string
          example: '306d305e-3359-4884-8d38-89c04e8adea6'
        nama:
          type: string
          example: 'Kawah Ijen'
        url_media:
          type: string
          example: 'https://picsum.photos/300/200'
        provinsi:
          type: string
          example: 'Sumatera Utara'
        kota:
          type: string
          example: 'Jakarta'
        kategori:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    DestinationResponse:
      type: object
      properties:
        id_destinasi:
          type: string
          example: '306d305e-3359-4884-8d38-89c04e8adea6'
        nama_destinasi:
          type: string
          example: 'Kawah Ijen'
        jam_buka:
          type: string
          example: '08:00'
        jam_tutup:
          type: string
          example: '17:00'
        harga_masuk:
          type: integer
          example: 100000
        deskripsi:
          type: string
          example: 'Kawah Ijen adalah sebuah kompleks gunung berapi di Banyuwangi, Jawa Timur, Indonesia.'
        alamat_destinasi:
          $ref: '#/components/schemas/DestinationAddress'
        url_gambar:
          type: array
          items:
            $ref: '#/components/schemas/UrlImage'
        url_video:
          type: array
          items:
            $ref: '#/components/schemas/UrlVideo'
        kategori:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        fasilitas:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
        destinasi_serupa:
          type: array
          items:
            $ref: '#/components/schemas/SimilarDestination'
  responses:
    UnauthorizedResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Token tidak terisi
    CategoriesResponseSuccess:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: 'Success'
              message:
                type: string
                example: 'Berhasil mendapatkan kategori destinasi'
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nama:
                      type: string
                    url:
                      type: string
                example:
                  - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                    nama: Alam
                    url: https://picsum.photos/300/200
                  - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                    nama: Seni dan Budaya
                    url: https://picsum.photos/300/200
                  - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                    nama: Sejarah
                    url: https://picsum.photos/300/200
    ProvinceResponseSuccess:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: 'Success'
              message:
                type: string
                example: 'Berhasil mendapatkan provinsi'
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nama:
                      type: string
                    url:
                      type: string
                example:
                  - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                    nama: Jawa Timur
                    url: https://picsum.photos/300/200
                  - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                    nama: Jawa Barat
                    url: https://picsum.photos/300/200
    HomepageResponseSuccess:
      description: OK
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                example: Success
              message:
                type: string
                example: Berhasil mendapatkan data pada homepage
              data:
                type: object
                properties:
                  destinasi_rekomendasi:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                        nama:
                          type: string
                        url_gambar:
                          type: string
                    example:
                      - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                        nama: Kawah Ijen
                        url_gambar: https://picsum.photos/300/200
                      - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                        nama: Kawah Ijen
                        url_gambar: https://picsum.photos/300/200
                  destinasi_sekitar:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                        nama:
                          type: string
                        lokasi:
                          type: object
                          properties:
                            kota:
                              type: object
                              properties:
                                nama:
                                  type: string
                                  example: Nama Kota
                            provinsi:
                              type: object
                              properties:
                                nama:
                                  type: string
                                  example: Nama Provinsi
                        url_gambar:
                          type: string
                    example:
                      - id: 18d8624a-4e83-4354-83fb-fb11aed4fdc4
                        nama: Kawah Ijen
                        lokasi:
                          kota:
                            nama: Nama Kota
                          provinsi:
                            nama: Nama Provinsi
[...]
