openapi: '3.0.2'
info:
  title: Tourease API
  version: '1.0'
servers:
  - url: https://api.tourease.my.id/v1
    description: Production Server
  - url: http://localhost:1323/v1
    description: Development Server
tags:
  - name: Mobile - Auth
  - name: Mobile - Homepage
  - name: Mobile - Destinations
  - name: Mobile - Profile
  - name: Mobile - Personalization
  - name: Mobile - Routes
  - name: Admin - Auth
  - name: Admin - Dashboard
  - name: Admin - Destinations
  - name: Admin - Routes
  - name: Admin - Users
  - name: Admin - Admins
  - name: Admin - Manage Content
  - name: Admin - Master Data
paths:
  /mobile/routes/summarize:
    post:
      tags:
        - Mobile - Routes
      summary: Mendapatkan Rekomendasi Rute
      description: API untuk mendapatkan rekomendasi rute.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_kota:
                  type: string
                  example: '3204'
                lokasi_awal:
                  type: object
                  properties:
                    nama:
                      type: string
                      example: '28, Kecamatan Lowokwaru, Kota Malang, Jawa Timur, Indonesia'
                    latitude:
                      type: number
                      format: float
                      example: -7.9300287
                    longitude:
                      type: number
                      format: float
                      example: 112.6349073
                id_destinasi_tujuan:
                  type: array
                  items:
                    type: string
                  example:
                    - 5fb0bedc-f1fa-4197-814f-f97155092473
                    - ee06a47e-f264-40e9-b9c8-1a3a78492d84
                    - 44dc96a4-5f1f-4dfb-a55f-311ab26053d8
      responses:
        '200':
          $ref: '#/components/responses/SummarizeRouteResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: id_kota
                        message: id_kota tidak boleh kosong
                      - field: lokasi_awal
                        message: lokasi_awal tidak boleh kosong
                      - field: id_destinasi_tujuan
                        message: id_destinasi_tujuan tidak boleh kosong
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Destinasi ke-2 tidak ditemukan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal mendapatkan rekomendasi rute

  /mobile/routes/save:
    post:
      tags:
        - Mobile - Routes
      summary: Menyimpan Rekomendasi Rute
      description: API untuk menyimpan rekomendasi rute.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                city_id:
                  type: string
                  example: '1107'
                name:
                  type: string
                  example: Rute 1 swagger
                start_location:
                  type: string
                  example: 'Hotel Orlando'
                start_longitude:
                  type: number
                  format: double
                  example: 26.54321
                start_latitude:
                  type: number
                  format: double
                  example: -31.23456
                price:
                  type: integer
                  example: 123000
                route_details:
                  type: array
                  items:
                    $ref: '#/components/schemas/RouteDetail'

      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: data rute berhasil disimpan
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: CityId
                        message: Kolom CityId harus diisi
                      - field: Name
                        message: Kolom Name harus diisi
                      - field: StartLocation
                        message: Kolom StartLocation harus diisi
                      - field: StartLongitude
                        message: Kolom StartLongitude harus diisi
                      - field: StartLatitude
                        message: Kolom StartLatitude harus diisi
                      - field: Price
                        message: Kolom Price harus diisi
                      - field: RouteDetails
                        message: Kolom RouteDetails harus diisi
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal menyimpan rute

  /mobile/home:
    get:
      tags:
        - Mobile - Homepage
      summary: Mendapatkan Data pada Homepage
      description: API untuk mendapatkan data pada homepage.
      security:
        - BearerAuth: []
      parameters:
        - name: provinsi
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/HomepageResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Personalisasi belum dibuat
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                error destinasi sekitar:
                  value:
                    status: Failed
                    message: Gagal mendapatkan destinasi sekitar
                error destinasi populer:
                  value:
                    status: Failed
                    message: Gagal mendapatkan destinasi populer
                error personalisasi:
                  value:
                    status: Failed
                    message: Gagal mendapatkan data personalisasi
                error mendapatkan rekomendasi:
                  value:
                    status: Failed
                    message: Gagal mendapatkan rekomendasi destinasi
                error simpan rekomendasi:
                  value:
                    status: Failed
                    message: Gagal menyimpan rekomendasi destinasi

  /mobile/auth/register:
    post:
      tags:
        - Mobile - Auth
      summary: Registrasi Pengguna
      description: API untuk registrasi pengguna baru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'johndoe'
                nama_lengkap:
                  type: string
                  example: 'John Doe'
                email:
                  type: string
                  example: 'johndoe@example.com'
                no_telepon:
                  type: string
                  example: '081234567891'
                password:
                  type: string
                  example: 'password123'
      responses:
        '201':
          description: Registrasi Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Registrasi berhasil!'
                  data:
                    type: object
                    properties:
                      reference_id:
                        type: string
                        example: 'fAwCnf3TSOkSqB9M'
        '409':
          description: Konflik
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'username sudah ada, silahkan gunakan username lain'
  /mobile/auth/resend-otp:
    post:
      tags:
        - Mobile - Auth
      summary: Kirim Ulang OTP
      description: API untuk mengirim ulang OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
      responses:
        '200':
          description: OTP Berhasil Dikirimkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'OTP berhasil dikirimkan'
                  data:
                    type: object
                    properties:
                      reference_id:
                        type: string
                        example: 'WCTp17O4Uu2CZ88O'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Error'
                  message:
                    type: string
                    example: 'Invalid email address'

  /mobile/auth/verify:
    post:
      tags:
        - Mobile - Auth
      summary: Verifikasi OTP
      description: API untuk verifikasi OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref_id:
                  type: string
                  example: 'WCTp17O4Uu2CZ88O'
                otp:
                  type: string
                  example: '7523'
      responses:
        '200':
          description: OTP Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'OTP Valid'
        '400':
          description: OTP Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Kode OTP tidak cocok. Mohon periksa kembali dan masukkan dengan benar.'
  /mobile/auth/forgot-password:
    put:
      tags:
        - Mobile - Auth
      summary: Reset Password
      description: API untuk mengatur ulang kata sandi pengguna.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref_id:
                  type: string
                  example: 'gCGBw4IB8boTMG5B'
                password:
                  type: string
                  example: 'password'
                konfirmasi_password:
                  type: string
                  example: 'password'
      responses:
        '200':
          description: Password Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Password berhasil diubah'
        '400':
          description: Password Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password tidak cocok'
  /mobile/auth/login:
    post:
      tags:
        - Mobile - Auth
      summary: Login Pengguna
      description: API untuk login pengguna.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: 'aditn689@gmail.com'
                password:
                  type: string
                  example: '12345678'
      responses:
        '200':
          description: Login Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Login berhasil!'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLW'
                      refresh_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLW'
        '409':
          description: Akun Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Akun tidak ditemukan'
        '401':
          description: Email Belum Terverifikasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Email belum terverifikasi'
  /admin/auth/login:
    post:
      tags:
        - Admin - Auth
      summary: Admin Login
      description: API untuk login admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'admin'
                password:
                  type: string
                  example: 'admintourease123'
      responses:
        '200':
          description: Login Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'You have successfully logged in'
                  data:
                    type: object
                    properties:
                      username:
                        type: string
                        example: 'admintourease'
                      profile_image:
                        type: string
                        example: 'admin.jpg'
                      role:
                        type: string
                        example: 'admin'
                      token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6ImFhNjJjZDA5LTU0YjUtNGViNC04MjNmLWMzNjI4ZWFlYmQ0MSIsIlVzZXJuYW1lIjoiYWRtaW50b3VyZWFzZSIsIlJvbGUiOiJhZG1pbiIsImV4cCI6MTcxNjkxMTIzMCwiaWF0IjoxNzE2OTA5NDMwLCJuYmYiOjE3MTY5MDk0MzB9.Iesz7CdqiA-5xyJa3I3w2rkZTjC7ZR27FMPz3HwhYOs'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Akun tidak ditemukan'
  /admin/auth/logout:
    delete:
      tags:
        - Admin - Auth
      summary: Logout Admin
      description: API untuk logout admin.
      responses:
        '200':
          description: Logout Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Logout berhasil!'
  /admin/dashboard:
    get:
      tags:
        - Admin - Dashboard
      summary: Menampilkan Data Dashboard
      description: API untuk menampilkan data dashboard admin.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Berhasil Menampilkan Data Dashboard
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil menampilkan data dashboard'
                  data:
                    type: object
                    properties:
                      total_data:
                        type: object
                        properties:
                          total_admin:
                            type: integer
                            example: 2
                          total_user:
                            type: integer
                            example: 7
                          total_rute:
                            type: integer
                            example: 14
                      pertumbuhan_pengguna:
                        type: array
                        items:
                          type: object
                          properties:
                            bulan:
                              type: string
                              example: 'Jan'
                            pengguna_baru:
                              type: integer
                              example: 1
                            total_pengguna:
                              type: integer
                              example: 1
                      total_content_vid:
                        type: object
                        properties:
                          total_content:
                            type: integer
                            example: 962
                          total_destinasi:
                            type: integer
                            example: 322
                      kategori_destinasi:
                        type: array
                        items:
                          type: object
                          properties:
                            nama_kategori:
                              type: string
                              example: 'Alam'
                            total:
                              type: integer
                              example: 178
                      route_user:
                        type: array
                        items:
                          type: object
                          properties:
                            username:
                              type: string
                              example: 'user1'
                            nama_rute:
                              type: string
                              example: 'Route ke 12'
                            jumlah_destinasi:
                              type: integer
                              example: 1
                            biaya:
                              type: integer
                              example: 100000
  /admin/auth/token:
    get:
      tags:
        - Admin - Auth
      summary: Mendapatkan Token Baru
      description: API untuk mendapatkan token baru.
      responses:
        '200':
          description: Berhasil Mendapatkan Token Baru
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil mendapatkan token baru'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzIyNjI2NCwiaWF0IjoxNzE3MjI1MDY0LCJuYmYiOjE3MTcyMjUwNjR9.Av2DF2H2HBcZsH2pXDEpmb9W1UKvkSDFq0T7-Y0OJ2k'
        '409':
          description: Token Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak ditemukan'

  /mobile/auth/logout:
    delete:
      tags:
        - Mobile - Auth
      summary: Logout Pengguna
      description: API untuk logout pengguna dengan membatalkan (invalidate) refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Refresh token yang ingin dibatalkan
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzQ4NDkwOCwiaWF0IjoxNzE3Mzk4NTA4LCJuYmYiOjE3MTczOTg1MDh9.nEpwC8eBk4qWOjD3MucKfOh_PJL7xLPbnY8IXjpbJzM'
      responses:
        '200':
          description: Logout Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Logout berhasil!'
        '401':
          description: Token Tidak Valid atau Kedaluwarsa
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak valid'

  /mobile/auth/token:
    post:
      tags:
        - Mobile - Auth
      summary: Mendapatkan Token Baru (Refresh Token)
      description: API untuk mendapatkan token akses baru dengan menggunakan refresh token yang valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Refresh token yang valid
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzM5MTI5MiwiaWF0IjoxNzE3MzA0ODkyLCJuYmYiOjE3MTczMDQ4OTJ9.062A35GzPol_3Xa5KkXo0ApQcCpHXvuazF0kouqA0Cg'
      responses:
        '200':
          description: Berhasil Mendapatkan Token Baru
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil mendapatkan token baru'
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjRhNGU5NzIzLWFlNGMtNGQ3Mi1iMzYxLWMzNmQ1OTgwZTI4NyIsIlVzZXJuYW1lIjoiYWt1bmNvYmEiLCJSb2xlIjoidXNlciIsImV4cCI6MTcxNzIyNjI2NCwiaWF0IjoxNzE3MjI1MDY0LCJuYmYiOjE3MTcyMjUwNjR9.Av2DF2H2HBcZsH2pXDEpmb9W1UKvkSDFq0T7-Y0OJ2k'
        '401':
          description: Token Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Token tidak valid'
  /mobile/profile:
    get:
      tags:
        - Mobile - Profile
      summary: Mendapatkan Profil Pengguna
      description: API untuk mengambil data profil pengguna yang sedang login.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profil Berhasil Didapatkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Data profil berhasil didapatkan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID unik pengguna
                        example: '4a4e9723-ae4c-4d72-b361-c36d5980e287'
                      username:
                        type: string
                        description: Nama pengguna (username)
                        example: 'tes1'
                      nama_lengkap:
                        type: string
                        description: Nama lengkap pengguna
                        example: 'tes tes'
                      bio:
                        type: string
                        description: Bio singkat pengguna (opsional)
                        example: 'life'
                      email:
                        type: string
                        description: Alamat email pengguna
                        example: 'leafthe78@gmail.com'
                      no_telepon:
                        type: string
                        description: Nomor telepon pengguna
                        example: '081234567899'
                      foto_profil:
                        type: string
                        description: URL foto profil pengguna (opsional)
                        example: 'https://res.cloudinary.com/alta-minpro/image/upload/v1717582618/tourease/users/tusamyaghmynwe44rk2t.jpg'
                      jenis_kelamin:
                        type: string
                        description: Jenis kelamin pengguna (Pria/Wanita)
                        example: 'Pria'
                      kota:
                        type: string
                        description: Kota tempat tinggal pengguna
                        example: 'Medan'
                      provinsi:
                        type: string
                        description: Provinsi tempat tinggal pengguna
                        example: 'Sumatera Utara'
    put:
      tags:
        - Mobile - Profile
      summary: Memperbarui Profil Pengguna
      description: API untuk memperbarui data profil pengguna yang sedang login.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Nama pengguna (username)
                  example: 'tes1'
                nama_lengkap:
                  type: string
                  description: Nama lengkap pengguna
                  example: 'tes tes'
                bio:
                  type: string
                  description: Bio singkat pengguna (opsional)
                  example: 'life'
                email:
                  type: string
                  description: Alamat email pengguna
                  example: 'leafthe78@gmail.com'
                no_telepon:
                  type: string
                  description: Nomor telepon pengguna
                  example: '081234567899'
                jenis_kelamin:
                  type: string
                  description: Jenis kelamin pengguna (Pria/Wanita)
                  example: 'Pria'
                kota:
                  type: string
                  description: Kota tempat tinggal pengguna
                  example: 'Medan'
                provinsi:
                  type: string
                  description: Provinsi tempat tinggal pengguna
                  example: 'Sumatera Utara'
                foto_profil:
                  type: string
                  format: binary
                  description: File gambar foto profil (opsional)
      responses:
        '200':
          description: Profil Berhasil Diperbarui
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Data profil berhasil diperbarui'
        '400':
          description: Permintaan Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'failed'
                  message:
                    type: string
                    example: 'Permintaan tidak valid. Silakan periksa kembali data yang Anda masukkan.'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          example: 'NoTelepon'
                        message:
                          type: string
                          example: 'Kolom NoTelepon harus lebih dari 11 karakter'
        '409':
          description: Konflik Data (Email Sudah Digunakan)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Email sudah digunakan'
  /mobile/profile/change-password:
    put:
      tags:
        - Mobile - Profile
      summary: Mengubah Password Pengguna
      description: API untuk mengubah password pengguna yang sedang login.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password_lama:
                  type: string
                  description: Password lama pengguna
                  example: 'user12345'
                password_baru:
                  type: string
                  description: Password baru yang diinginkan
                  example: '12345678'
                konfirmasi_password:
                  type: string
                  description: Konfirmasi password baru
                  example: '12345678'
      responses:
        '200':
          description: Password Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Password berhasil diperbarui'
        '400':
          description: Password dan Konfirmasi Password Tidak Cocok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password dan konfirmasi password tidak cocok'
        '409':
          description: Password Lama Tidak Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Password lama tidak valid'
  /mobile/profile/routes:
    get:
      tags:
        - Mobile - Profile
      summary: Mendapatkan Data Rute
      security:
        - BearerAuth: []
      description: API untuk mendapatkan data rute yang tersedia.
      responses:
        '200':
          description: Berhasil Mendapatkan Data Rute
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil menampilkan data rute'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 'aa66d401-47bc-4a73-9e7c-b7d84168954a'
                        nama_rute:
                          type: string
                          example: 'Jalan Jalan'
                        biaya:
                          type: integer
                          example: 100000
        '404':
          description: Gagal Mendapatkan Data Rute
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal mendapatkan data rute'
  /mobile/profile/routes/{id}:
    get:
      tags:
        - Mobile - Profile
      summary: Mendapatkan Detail Rute
      security:
        - BearerAuth: []
      description: API untuk mendapatkan detail rute berdasarkan ID.
      parameters:
        - in: path
          name: id
          required: true
          description: ID rute yang ingin ditampilkan
          schema:
            type: string
      responses:
        '200':
          description: Berhasil Mendapatkan Detail Rute
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Berhasil menampilkan data rute'
                  data:
                    type: object
                    properties:
                      nama_rute:
                        type: string
                        example: 'Jalan Jalan'
                      destinasi:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '0a0ac7b1-df14-4b09-9f96-79670b8d3c99'
                            nama_destinasi:
                              type: string
                              example: 'Pantai Tanjung Karang'
                            waktu_kunjungan:
                              type: string
                              description: waktu kunjungan destinasi
                              example: '08:00'
                            waktu_selesai_kunjungan:
                              type: string
                              description: waktu selesai kunjungan destinasi
                              example: '09:00'
                            biaya:
                              type: integer
                              example: 10000
                      estimasi_biaya:
                        type: integer
                        example: 100000
        '404':
          description: Rute Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Rute tidak ditemukan'
    delete:
      tags:
        - Mobile - Profile
      summary: Menghapus Data Rute
      security:
        - BearerAuth: []
      description: API untuk menghapus data rute berdasarkan ID.
      parameters:
        - in: path
          name: id
          required: true
          description: ID rute yang ingin dihapus
          schema:
            type: string
      responses:
        '200':
          description: Data Rute Berhasil Dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Data rute berhasil dihapus'
        '404':
          description: Rute Tidak Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Rute tidak ditemukan'
        '500':
          description: Gagal Menghapus Rute
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal menghapus rute'
  /admin/users:
    get:
      tags:
        - Admin - Users
      summary: Mendapatkan Data User
      description: API untuk mendapatkan daftar pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Data User Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditemukan'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '803f6cc0-e598-4b59-a300-8b8603482d14'
                        username:
                          type: string
                          example: 'username'
                        email:
                          type: string
                          example: 'email@example.com'
                        no_telepon:
                          type: string
                          example: '081234567890'
                        jenis_kelamin:
                          type: string
                          example: 'pria'
                        kota:
                          type: string
                          example: 'Jaksel'
                        provinsi:
                          type: string
                          example: 'Jakarta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Admin - Users
      summary: Menambah data user
      description: API untuk menambah pengguna baru.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'username'
                password:
                  type: string
                  example: '12345678'
                nama_lengkap:
                  type: string
                  example: 'nama_lengkap'
                bio:
                  type: string
                  example: 'bio'
                email:
                  type: string
                  example: 'email3@example.com'
                no_telepon:
                  type: string
                  example: '081234567890'
                foto_profil:
                  type: string
                  format: binary
                  example: 'img.jpg'
                jenis_kelamin:
                  type: string
                  example: 'pria'
                kota:
                  type: string
                  example: 'Jaksel'
                provinsi:
                  type: string
                  example: 'Jakarta'
      responses:
        '201':
          description: Data User Berhasil Ditambah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditambah'
        '409':
          description: Conflict
          content:
            application/js  on:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'gagal untuk menambah data user'
  /admin/users/{id}:
    get:
      tags:
        - Admin - Users
      summary: Mendapatkan Detail User
      description: API untuk mendapatkan detail pengguna.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data User Ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil ditemukan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '803f6cc0-e598-4b59-a300-8b8603482d14'
                      username:
                        type: string
                        example: 'username'
                      nama_lengkap:
                        type: string
                        example: 'username lengkap'
                      bio:
                        type: string
                        example: 'bio'
                      email:
                        type: string
                        example: 'email@example.com'
                      no_telepon:
                        type: string
                        example: '081234567890'
                      foto_profil:
                        type: string
                        example: 'img.jpg'
                      jenis_kelamin:
                        type: string
                        example: 'pria'
                      kota:
                        type: string
                        example: 'Jaksel'
                      provinsi:
                        type: string
                        example: 'Jakarta'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal untuk memperbarui data user'
    put:
      tags:
        - Admin - Users
      summary: Memperbarui Data User
      description: API untuk memperbarui data pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: 'username'
                password:
                  type: string
                  example: '12345678'
                nama_lengkap:
                  type: string
                  example: 'nama_lengkap'
                bio:
                  type: string
                  example: 'bio'
                email:
                  type: string
                  example: 'email3@example.com'
                no_telepon:
                  type: string
                  example: '081234567890'
                foto_profil:
                  type: string
                  format: binary
                  example: 'img.jpg'
                jenis_kelamin:
                  type: string
                  example: 'pria'
                kota:
                  type: string
                  example: 'Jaksel'
                provinsi:
                  type: string
                  example: 'Jakarta'
      responses:
        '200':
          description: Data User Berhasil Diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil diubah'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Gagal untuk memperbarui data user'
    delete:
      tags:
        - Admin - Users
      summary: Menghapus Data User
      description: API untuk menghapus pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Data User Berhasil Dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data user berhasil dihapus'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'User tidak ditemukan'

  /admin/admins:
    get:
      tags:
        - Admin - Admins
      summary: Mendapatkan data semua admin
      description: API untuk mencari daftar admin.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil mendapatkan data admin
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        tanggal_pembuatan:
                          type: string
                          format: date
                    example:
                      - id: 803f6cc0-e598-4b59-a300-8b8603482d14
                        username: username
                        tanggal_pembuatan: 02-01-2006
                      - id: 803f6cc0-e598-4b59-a300-8b8603482d14
                        username: username
                        tanggal_pembuatan: 02-01-2006
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal mendapatkan data admin
    post:
      tags:
        - Admin - Admins
      summary: Menambah data admin
      description: API untuk menambah admin baru.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: username
                password:
                  type: string
                  example: '12345678'
                foto_profil:
                  type: string
                  format: binary
            encoding:
              foto_profil:
                contentType: image/png, image/jpg, image/jpeg
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil menambah data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: username
                        message: Username harus di isi
                file tidak sesuai:
                  value:
                    status: Failed
                    message: File harus berupa gambar dan kurang dari 2 MB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Username sudah digunakan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal menambah data admin

  /admin/admins/{id}:
    get:
      tags:
        - Admin - Admins
      summary: Mendapatkan detail admin
      description: API untuk mendapatkan detail admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasil mendapatkan detail admin
                  data:
                    type: object
                    properties:
                      username:
                        type: string
                        example: 'username'
                      foto_profil:
                        type: string
                        example: 'https://fotoprofil.png'
                      tanggal_pembuatan:
                        type: string
                        format: date
                        example: 02-01-2006
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                id tidak valid:
                  value:
                    status: Failed
                    message: Id admin tidak valid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Data admin tidak ditemukan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal mendapatkan detail admin
    put:
      tags:
        - Admin - Admins
      summary: Mengubah data admin
      description: API untuk mengubah data admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: username
                password:
                  type: string
                  example: '12345678'
                foto_profil:
                  type: string
                  format: binary
            encoding:
              foto_profil:
                contentType: image/png, image/jpg, image/jpeg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil mengubah data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                required:
                  - message
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: username
                        message: Username harus di isi
                file tidak sesuai:
                  value:
                    status: Failed
                    message: File harus berupa gambar dan kurang dari 2 MB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Username sudah digunakan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal mengubah data admin
    delete:
      tags:
        - Admin - Admins
      summary: Menghapus data admin
      description: API untuk menghapus data admin.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '803f6cc0-e598-4b59-a300-8b8603482d14'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: Berhasil menghapus data admin
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                id tidak valid:
                  value:
                    status: Failed
                    message: Id admin tidak valid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Token tidak terisi
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Anda tidak memiliki izin untuk mengakses
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Data admin tidak ditemukan
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal menghapus data admin

  /mobile/destinations:
    get:
      tags:
        - Mobile - Destinations
      summary: Mencari destinasi wisata
      description: API untuk mencari daftar destinasi wisata.
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
            description: urutkan berdasarkan
            enum:
              - populer
              - terlama
              - terbaru
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: filter berdasarkan kategori (masukkan id category)
      security:
        - BearerAuth: []
      responses:
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'gagal untuk mendapatkan destinasi'
        '200':
          description: Berhasil menampilkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '306d305e-3359-4884-8d38-89c04e8adea6'
                        nama:
                          type: string
                          example: 'Kawah Ijen'
                        url_media:
                          type: string
                          nullable: true
                          example: 'https://picsum.photos/300/200'
                        provinsi:
                          type: string
                          example: 'Papua Barat'
                        kota:
                          type: string
                          example: 'Jakarta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  sort:
                    type: string
                    example: 'populer'
                  filter:
                    type: string
                    example: 'Alam'
  /mobile/destinations/{id}:
    get:
      summary: Mendapatkan destinasi berdasarkan ID
      tags:
        - Mobile - Destinations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID dari destinasi
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Berhasil mendapatkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan destinasi'
                  data:
                    $ref: '#/components/schemas/DestinationResponse'
        '404':
          description: Destinasi tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Destinasi tidak ditemukan'
  /mobile/destinations/cities:
    get:
      tags:
        - Mobile - Destinations
      summary: Menampilkan kota yang memiliki destinasi
      description: API untuk mendapatkan daftar kota yang memiliki destinasi wisata.
      security:
        - BearerAuth: []
      responses:
        200:
          description: Berhasil menampilkan kota
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan kota yang memiliki destinasi'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3212'
                        nama:
                          type: string
                          example: 'KAB. INDRAMAYU'
  /mobile/destinations/cities/{id}:
    get:
      tags:
        - Mobile - Destinations
      summary: Menampilkan destinasi berdasarkan kota
      description: API untuk mendapatkan daftar destinasi wisata berdasarkan kota.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        200:
          description: Berhasil menampilkan destinasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'berhasil menampilkan destinasi'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3636246c-3dd5-4140-9822-72ce76f11124'
                        nama_destinasi:
                          type: string
                          example: 'Danau Lau Kawar'
                        nama_jalan:
                          type: string
                          example: 'testing'
                        kecamatan:
                          type: string
                          example: 'Karangampel'
                        kota:
                          type: string
                          example: 'KAB. INDRAMAYU'
                        provinsi:
                          type: string
                          example: 'JAWA BARAT'
        404:
          description: Destinasi tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Destinasi tidak ditemukan'
  /mobile/personalization:
    post:
      tags:
        - Mobile - Personalization
      summary: Membuat personalisasi rekomendasi
      description: API untuk membuat personalisasi rekomendasi
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_kategori:
                  type: array
                  items:
                    type: string
                  example:
                    [
                      eb77b590-b255-4ea1-b11a-d445a259ac41,
                      'eb77b590-b255-4ea1-b11a-d445a259ac41',
                      'eb77b590-b255-4ea1-b11a-d445a259ac41',
                    ]
                id_provinsi:
                  type: array
                  items:
                    type: string
                  example: ['11', '12', '13']
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Personalisasi berhasil di buat
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
              examples:
                token tidak valid:
                  value:
                    message: Format token tidak valid, gunakan bearer token
                request data tidak valid:
                  value:
                    status: Failed
                    message: Permintaan tidak valid. Silakan periksa kembali data yang anda masukkan.
                    errors:
                      - field: id_kategori
                        message: id_kategori harus diisi

        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Provinsi pilihan ke-1 tidak ditemukan
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Personalisasi sudah dibuat
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed
                  message:
                    type: string
                    example: Gagal untuk membuat personalisasi

  /mobile/personalization/categories:
    get:
      tags:
        - Mobile - Personalization
      summary: Mendapatkan kategori destinasi
      description: API untuk mendapatkan kategori destinasi
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/CategoriesResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Invalid input'

  /mobile/personalization/provinces:
    get:
      tags:
        - Mobile - Personalization
      summary: Mendapatkan provinsi
      description: API untuk mendapatkan rekomendasi provinsi
      security:
        - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ProvinceResponseSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: Gagal untuk mendapatkan provinsi

  /admin/destinations:
    post:
      summary: Menambah data destinasi
      tags:
        - Admin - Destinations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_destinasi:
                  type: string
                  description: Nama destinasi
                  example: 'Tes Destinasi'
                deskripsi:
                  type: string
                  description: Deskripsi dari destinasi
                  example: 'Lorem ipsum dolor sit amet'
                jam_buka:
                  type: string
                  description: Jam buka destinasi
                  example: '08:00'
                jam_tutup:
                  type: string
                  description: Jam tutup destinasi
                  example: '17:00'
                harga_masuk:
                  type: number
                  description: Harga tiket masuk
                  example: 20000
                id_kategori:
                  type: string
                  format: uuid
                  description: ID Kategori
                  example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                latitude:
                  type: number
                  description: Latitude dari destinasi
                  example: 115.1675
                longitude:
                  type: number
                  description: Longitude dari destinasi
                  example: -54.5245
                fasilitas:
                  type: array
                  items:
                    type: string
                  description: Array ID fasilitas
                  example:
                    ['515cb2da-3361-48b8-99fd-bd894828efa1', '515cb2da-3361-48b8-99fd-bd894828efa2']
                alamat_destinasi:
                  type: object
                  properties:
                    id_provinsi:
                      type: string
                      description: ID Provinsi
                      example: '35'
                    id_kota:
                      type: string
                      description: ID Kota
                      example: '3511'
                    id_kecamatan:
                      type: string
                      description: ID Kecamatan
                      example: '351105'
                    jalan:
                      type: string
                      description: Nama jalan
                      example: 'Jl. Raya Bandung'
                    kode_pos:
                      type: string
                      description: Kode pos
                      example: '113322'
      responses:
        '200':
          description: Destination created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Destination created successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                      nama_destinasi:
                        type: string
                        example: 'Tes Destinasi'
                      jam_buka:
                        type: string
                        example: '08:00'
                      jam_tutup:
                        type: string
                        example: '17:00'
                      harga_masuk:
                        type: number
                        example: 20000
                      kategori:
                        $ref: '#/components/schemas/Category'
                      alamat:
                        $ref: '#/components/schemas/DestinationAddress'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Failed'
                  message:
                    type: string
                    example: 'Invalid input'
    get:
      tags:
        - Admin - Destinations
      summary: Mendapatkan semua destinasi
      description: API untuk mendapatkan semua destinasi.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data destinasi berhasil ditemukan
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: string
                      example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                    nama_destinasi:
                      type: string
                      example: 'Tes Destinasi'
                    jam_buka:
                      type: string
                      example: '08:00'
                    jam_tutup:
                      type: string
                      example: '17:00'
                    harga_masuk:
                      type: number
                      example: 20000
                    kategori:
                      $ref: '#/components/schemas/Category'
                    alamat:
                      $ref: '#/components/schemas/DestinationAddress'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Format token tidak valid, gunakan bearer token

  /admin/destinations/{id}:
    delete:
      tags:
        - Admin - Destinations
      summary: Menghapus destinasi
      description: API untuk menghapus destinasi.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: ID destinasi
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'Destinasi berhasil dihapus'
    get:
      tags:
        - Admin - Destinations
      summary: Mendapatkan detail destinasi
      description: API untuk mendapatkan data destinasi spesifik berdasarkan ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: ID destinasi
      responses:
        '200':
          description: Data destinasi berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_destinasi:
                    type: string
                    example: '306d305e-3359-4884-8d38-89c04e8adea6'
                  nama_destinasi:
                    type: string
                    example: 'Kawah Ijen'
                  jam_buka:
                    type: string
                    example: '08:00'
                  jam_tutup:
                    type: string
                    example: '17:00'
                  harga_masuk:
                    type: integer
                    example: 100000
                  deskripsi:
                    type: string
                    example: 'Kawah Ijen adalah sebuah kompleks gunung berapi di Banyuwangi, Jawa Timur, Indonesia.'
                  alamat_destinasi:
                    $ref: '#/components/schemas/DestinationAddress'
                  url_gambar:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlImage'
                  url_video:
                    type: array
                    items:
                      $ref: '#/components/schemas/UrlVideo'
                  kategori:
                    $ref: '#/components/schemas/Category'
                  fasilitas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facility'
    put:
      tags:
        - Admin - Destinations
      summary: Mengubah destinasi
      description: API untuk mengubah destinasi.
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 1bde58e3-ef19-4daa-9df7-084ba5d3e941
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_destinasi:
                  type: string
                  description: Nama destinasi
                  example: 'Tes Destinasi'
                deskripsi:
                  type: string
                  description: Deskripsi dari destinasi
                  example: 'Lorem ipsum dolor sit amet'
                jam_buka:
                  type: string
                  description: Jam buka destinasi
                  example: '08:00'
                jam_tutup:
                  type: string
                  description: Jam tutup destinasi
                  example: '17:00'
                harga_masuk:
                  type: number
                  description: Harga tiket masuk
                  example: 20000
                id_kategori:
                  type: string
                  format: uuid
                  description: ID Kategori
                  example: 'eb77b590-b255-4ea1-b11a-d445a259ac63'
                latitude:
                  type: number
                  description: Latitude dari destinasi
                  example: 115.1675
                longitude:
                  type: number
                  description: Longitude dari destinasi
                  example: -54.5245
                fasilitas:
                  type: array
                  items:
                    type: string
                  description: Array ID fasilitas
                  example:
                    [ '920dbb67-9aee-4c58-86ed-78e5a181da0f', 'cfd261a0-6261-42cd-9c64-26742f39dd2e' ]
                alamat_destinasi:
                  type: object
                  properties:
                    id_provinsi:
                      type: string
                      description: ID Provinsi
                      example: '35'
                    id_kota:
                      type: string
                      description: ID Kota
                      example: '3511'
                    id_kecamatan:
                      type: string
                      description: ID Kecamatan
                      example: '351105'
                    jalan:
                      type: string
                      description: Nama jalan
                      example: 'Jl. Raya Bandung'
                    kode_pos:
                      type: string
                      description: Kode pos
                      example: '113322'
      responses:
        '200':
          description: Successfully updated destination
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Berhasilah mengubah media destinasi
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Internal server error

  /admin/routes:
    get:
      tags:
        - Admin - Routes
      summary: Mendapatkan semua rute
      description: API untuk mendapatkan semua rute.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data rute berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data rute berhasil ditemukan'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 'b5112798-9f59-4da0-9132-2c717895102f'
                        username:
                          type: string
                          example: 'tes2'
                        kota:
                          type: string
                          example: 'KAB. ACEH SELATAN'
                        destinasi:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: '306d305e-3359-4884-8d38-89c04e8adec7'
                              nama_destinasi:
                                type: string
                                example: 'Pulau Komodo'
                        estimasi_biaya:
                          type: integer
                          example: 250000
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /admin/routes/{id}:
    get:
      tags:
        - Admin - Routes
      summary: Mendapatkan detail rute
      description: API untuk mendapatkan data rute spesifik berdasarkan ID.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Data rute berhasil didapatkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'Success'
                  message:
                    type: string
                    example: 'data rute berhasil didapatkan'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 'b5112798-9f59-4da0-9132-2c717895102f'
                      username:
                        type: string
                        example: 'tes2'
                      kota:
                        type: string
                        example: 'KAB. ACEH SELATAN'
                      destinasi:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
[...]
